@using DoWorkGym.Service
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            @Scripts.Render("~/bundles/headjs")
        <![endif]-->
    </head>
    <body>
        
        @Html.Partial("_Menu")
    
        <div class="container">
            @RenderBody()
        </div>
            
        <div id="footer">
            <div class="container">
                <p class="text-muted">&copy; <abbr title="&#64;mmo_80">Miguel Mendes</abbr> @(DateTime.Now.Year) [<strong>Alpha</strong>, @(DoWorkGym.Util.Misc.Version)]</p>
            </div>
        </div>

@Scripts.Render("~/bundles/misc")
@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/account")
    </body>
</html>